.main button {
	background-color: #EF4565;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 16px;
	margin-bottom: 32px;
	outline: none;
	width: 55%;
	color: #ffffff;
	text-align: center;
}

.filter_birthday p span {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #094067;
}

.buttons {
	display: flex;
}

.span {
	color: #5F6C7B;
	font-size: 24px;
	display: flex;
	justify-content: space-evenly;
	font-family: "Rubik";
	flex-wrap: wrap;
}

.age {
	color: #EF4565;
	margin-left: 5px;
	margin-right: 5px;
}

.form {
	background-color: #ffffff;
	margin: auto;
	width: 60%;
	padding-right: 20px;
	padding-left: 20px;

}
.person {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.buttons {
	margin-top: 1rem;
}

.buttons .add {
	margin-inline-end: 10px;
	width: 26%;
	font-size: 18px;
}

.buttons .sub {
	border: 1px solid  #5F6C7B;
	background-color: #EF4565;
	color: #ffffff;
	margin-right: 50px;
}


.save {
	background-color: #0000ff;		
}
.save:hover {
	background-color: #ffc6c7;
}

.cancel {
	border: solid #5F6C7B 1px;
}

.yesDel {
	background-color: #EF4565;
	color: #ffffff;
}


.person.open {
	opacity: 1;
	pointer-events: all;

}
.person article {
	background-color: #ffffff;
	min-height: 100px;
    padding: 20px;
	border-radius: 8px;
}


.delBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
} 
.container {
	padding: 0;
    border-radius: 5px;
}
  
button.filterbtn {
	margin-right: 0px;
}

.filter_birthday {
	display: block;
}

#name {
	padding: 12px;
}

.filterMonth {
	border: none;
}


.headings {
	align-items: center;
}

.form input {
	background-color: #D8EEFE;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;	
}